# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Postgres (Supabase) - used by Prisma
DATABASE_URL="postgresql://user:password@db.host.supabase.co:5432/postgres"
NEXT_PUBLIC_SITE_URL=http://localhost:3000
